.container {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px 4px 12px;
  border-bottom: 1px solid var(--border);
}

.language {
  font-size: 0.75em;
  color: var(--muted);
  user-select: none;
}
